#!/bin/sh
#SBATCH --job-name <%= job.name %>
#SBATCH --output /dev/null
#SBATCH --error /dev/null
#SBATCH --mem-per-cpu 512
#SBATCH --time=70:00:00
Rscript -e 'batchtools::doJobCollection("<%= uri %>")'
